

.input-search-location{
    width: 450px;
}

.in-front-of-map{
  z-index: 10000;
  width: 450px;
}

.muiInputBase-root{
  outline: none;
}

.css-1p823my-MuiListItem-root {
  padding-left: 0;
  padding-right: 0;
}

.in-front-of-map{
    top: 1px;
}